{% include 'navbar.html' %}
{% load static %}
{% block main %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>


    <section id="workout" class="bg-danger">
        <div class="section-center">
         <!--title-============-->
         <div class="work-title">
             <h3 class="title">Why Work Out here</h3>
         </div>
         <!--End of title===================-->
         <div class="work-center"> -->
             <!--workout detail-->
              <article class="service">
               <i class="fas fa-bolt"></i>
               <h3>All Trainer Good</h3>
               <p>“All Trainer and good behaviour wise helping all Time.”</p>
              </article>
             <!--End of workout===========-->
             <!--workout detail-->
              <article class="service">
              <i class="fas fa-leaf"></i>
              <h3>Good training</h3>
              <p>“Here all Equipment are good. Gym owner are also good person, good trainer.”</p>
             </article> 
            <!--End of workout===========-->
            <!--workout detail-->
             <article class="service">
              <i class="fas fa-battery-three-quarters"></i>
              <h3>Core Strength</h3>
              <p>“Strength does not come from physical capacity. It comes from an indomitable will.”</p>
             </article> 
            <!--End of workout===========-->
             <!--workout detail-->
              <article class="service">
              <i class="fas fa-smile-beam"></i>
              <h3>Positivity</h3>
              <p>“Actually, I just woke up one day and decided I didn’t want to feel…”</p>
             </article> 
            <!--End of workout===========-->
           </div>
         </div>
     </section> 
    </body>


    {% endblock %}